:root {
	--K_color_link: #b4082c;
	--K_color_background: #c4cbd5;
}
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 4vw;
}


.hat {flex:0.5;}

.header_row{flex: 1.5; display: flex;}
.horizontal_spacer_for_header {flex:1;}
.header_cell{flex: 1; display: flex; flex-direction: column;}
.vertical_spacer_for_header { flex: 1;}


.clamp_row{flex: 1; display: flex;}
.clamp{flex:1} 
.spacer_for_clamp {flex:5;}


.link_row{
	flex: 2;
	display: flex;
	align-items: center;
	flex-direction: row;
}
.spacer_for_link {flex: 1; height: 50%;}
.link {
	height: 100%;
	flex: 5;
	display: flex; 
	flex-direction: column;
}
.vertical_spacer_for_link {flex: 1;}

.spacer_for_link {background-color: var(--K_color_background);}
.spacer_for_link.inner {background-color: var(--K_color_link);}