:root {
	--K_color_link: #b4082c;
}
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 4vh;
}

.link {background-color: var(--K_color_link);}
.hat {flex:0.5;}

.header_row{flex: 1.5; display: flex;}
.horizontal_spacer_for_header {flex:0.2;}
.header_cell{flex: 1; display: flex; flex-direction: column;}
.vertical_spacer_for_header { flex: 1;}


.clamp_row{flex: 0.5; display: flex;}
.clamp{flex:1} 
.spacer_for_clamp {flex:5;}


.link_row{
	flex: 5;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.spacer_for_link {flex: 1; width: 20%;}
.link {
	width: 80%;
	flex: 5;
	display: flex; 
	flex-direction: column;
}
.vertical_spacer_for_link {flex: 1;}

